.App {
  max-height: 100dvh;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #0e0d0d;
  padding: 0;
  padding-left: 0.2rem;
  min-height: 2rem;
  background: transparent;
}

input[type="text"]:focus-visible,
input[type="number"]:focus-visible {
  outline: #ccc auto 1px;
}

.button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #0e0d0d;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page--home.center {
  font-size: 4rem;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-bottom: 2rem;
  height: inherit;
}

.scoreboard .scoreboard-area__score {
  display: flex;
  flex: 1 1;
  flex-flow: column;
  align-items: center;
  color: #0e0d0d;
  font-size: 1.2rem;
  min-height: 8rem;
  padding: 0.5rem;
}

.scoreboard-area__score-history {
  display: flex;
  gap: 3rem;
}

.scoreboard-area__score-history .undo {
  background-image: url(./images/undo.jpeg);
  width: 3rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.scoreboard-area__score-history .redo {
  background-image: url(./images/redo.jpeg);
  width: 3rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.scoreboard-area__score-team-scores {
  display: flex;
  gap: 3rem;
  color: #584333;
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.scoreboard-area__score .homeTeam span,
.scoreboard-area__score .awayTeam span {
  font-size: clamp(4rem, 8vw, 4rem);
}

.scoreboard-area__score-team-scores h1 {
  font-size: clamp(1rem, 5vw, 32px);
  text-align: center;
}

.scoreboard-area__score-team-scores>div {
  color: #0e0d0c;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex: 1;
}

.scoreboard-area__score-selected-player {
  color: black;
  font-weight: bold;
}

.scoreboard-area__score-stats-categories {
  display: flex;
  gap: 0.5rem;
}

.scoreboard-area__score-stats-categories .stats-category {
  text-align: center;
}

.scoreboard-area__score-stats-categories>.stats-category>div:first-child {
  color: black;
  margin-bottom: 0.25rem;
}

/* SECOND SECTION */

.scoreboard-area__box-score {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.scoreboard .scoreboard-area__stats-options {
  display: flex;
  flex: 1;
  padding: 0 1rem;
  gap: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}

.scoreboard .scoreboard-area__stats-options .left-side {
  display: flex;
  flex: 3 1;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}

.scoreboard .scoreboard-area__stats-options .button_made {
  flex-basis: 25%;
  background: #22ac93;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.scoreboard .scoreboard-area__stats-options .right-side {
  flex: 1 1;
  display: flex;
  row-gap: 1rem;
  justify-content: center;
  flex-flow: column;
}

.scoreboard .scoreboard-area__stats-options .right-side .right-side__stats {
  color: white;
  background: #e2183b;
  max-width: 6rem;
}

/* THIRD SECTION */

.scoreboard .scoreboard-area__teams {
  display: flex;
  padding: 0 1rem;
  gap: 2rem;
  overflow: scroll;
  justify-content: space-around;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list {
  flex: 1 1;
  flex-flow: column;
  display: flex;
  font-size: 1.25rem;
}

.scoreboard-area__teams--team-list.team-list-away .player_name {
  justify-content: flex-end;
}

.scoreboard-area__teams--team-list.team-list-home .player_number {
  flex: 0.5;
}

.scoreboard-area__teams--team-list.team-list-away .player_number {
  flex: 0.5;
  text-align: right;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list>div:last-child {
  margin-bottom: 2rem;
}

.scoreboard-area__teams--team-list.team-list-away {
  position: relative;
}

.scoreboard-area__teams--team-list.team-list-away::before {
  content: "";
  height: 100%;
  border: 1px solid black;
  position: absolute;
  left: -1rem;
  display: none;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player {
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  align-items: center;
  gap: 0.2rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player.player-selected {
  color: #e3aa69;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player.player-selected:nth-child(odd) .scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player:nth-child(odd) {
  background: #21ad9338;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player .player_name {
  flex: 3 1;
  display: flex;
  overflow-wrap: anywhere;
  font-size: clamp(1rem, 5vw, 1.2rem);
}

.page--home {
  background: url(./images/basketballDunk.jpeg) left/cover no-repeat;
  min-height: calc(100vh - 3rem);
  color: #e6e1e2;
  position: relative;
}

.page--home .games {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 1rem;
  background: #0e0d0c;
  opacity: 0.9;
  font-size: 1.2rem;
}

.page--home .button--create-game {
  padding: 1rem;
  background: #e6e1e2;
  color: #0e0d0c;
  font-size: 1rem;
  z-index: 1000;
}

.page--login {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: url(./images/basketballNet.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page--login p {
  margin-bottom: 2rem;
}

.form--login {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  background: #e6e1e2;
  padding: 2rem;
  opacity: 0.9;
  width: 90%;
  box-sizing: border-box;
}

.page--login .form__input {
  width: 100%;
  box-sizing: border-box;
}

.form--login .form__button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.page--login .form__button {
  min-width: 5rem;
}

.page--new-game {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.page--new-game form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.form--create-teams__home-team-container,
.form--create-teams__away-team-container {
  display: flex;
  flex-flow: column;
  gap: 0.2rem;
  flex: 1;
}

.form--create-teams__add-team-names {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.form--create-teams__add-team-players {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.form--create-teams__add-team-players-actions {
  display: flex;
  gap: 1rem;
}

.form--create-teams__add-team-players-actions>select {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form--create-teams__add-team-players-actions>input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form--create-teams__add-team-players-actions>button {
  flex: 1;
}

.form--create-teams button:focus-visible {
  outline: #ccc auto 1px;
}

.home-team-players-name,
.away-team-players-name {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.home-team-players-container label {
  flex: 1;
}

.home-team-players-container .home-team-players-name {
  display: flex;
  flex-flow: column;
}

.page--new-game input[type="text"] {
  width: 100%;
}


.home-team-players-container input[type="text"] {
  margin-bottom: 1rem;
}

.team-roster-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.team-roster-container .team-roster-container__home,
.team-roster-container .team-roster-container__away {
  flex: 1;
}

.team-roster-container ul {
  display: flex;
  flex-flow: column;
}

.team-roster-container h3 {
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #ccc;
}

.team-roster-container__home h3 {
  text-align: center;
  min-height: 3rem;
}

.team-roster-container__away h3 {
  text-align: center;
  min-height: 3rem;
}

.team-roster-container li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

.team-roster-container li span {
  flex: 1;
  text-align: right;
}

.team-roster-container li span:last-child {
  flex: 5;
}

.team-roster-container__home p,
.team-roster-container__away p {
  margin-bottom: 1rem;
}

.form--submit-container {
  display: flex;
  justify-content: center;
}

.nav--top {
  background: #0e0d0c;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  box-sizing: content-box;
  height: 3rem;
  padding: 0 1rem;
}

.nav--top a {
  color: #e6e1e2;
  text-decoration: none;
}

.nav--top__right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav--top__right a {
  font-size: 1rem;
}

.noMatch {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  align-items: center;
  font-size: 2rem;
  padding-top: 3rem;
}

.noMatch img {
  width: 100%;
  max-width: 950px;
}

/* Modal overlay */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Modal content */
.modal {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  position: relative;
  z-index: 1001;
  width: 80%;
  max-width: 750px;
}

.modal h2 {
  margin-bottom: 2rem;
  text-align: center;
}

/* Close button for the modal */
.modal .close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.modal-buttons .button {
  font-size: 1.25rem;
  min-width: 5rem;
  cursor: pointer;
}

/* BOX SCORE MODAL */
.modal--box-score__stats {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  overflow: scroll;
  padding: 1rem 0;
  padding-top: 0;
}

.modal--box-score__stats table {
  border-collapse: separate;
  border-spacing: 5px;
}

.modal--box-score__stats table tbody tr td:first-child {
  min-width: 3rem;
}

.modal--box-score__stats thead>tr>th:nth-child(1),
.modal--box-score__stats tbody>tr>td:nth-child(1),
.modal--box-score__stats tfoot>tr>th:nth-child(1) {
  text-align: right;
}

.modal--box-score__stats td {
  text-align: center;
}

.modal--box-score__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {

  .page--new-game form,
  .home-team-players-container {
    flex-flow: row;
  }

  .team-roster-container ul {
    align-items: center;
  }

  .team-roster-container ul li {
    min-width: 15rem;
  }

  .team-roster-container li span:last-child {
    flex: 3;
  }

  .page--login form {
    width: 50%;
  }

  .scoreboard-area__score-team-scores>div {
    gap: 2rem;
  }

  .scoreboard .scoreboard-area__teams {
    margin: 0 auto;
    min-width: 35rem;
    max-width: 50rem;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }

  .page--login .form--login {
    max-width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}