.App {
  max-height: 100dvh;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

.button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.25rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page--home.center {
  font-size: 4rem;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-bottom: 2rem;
  height: inherit;
}

.scoreboard .scoreboard-area__score {
  display: flex;
  flex: 1 1;
  flex-flow: column;
  align-items: center;
  background-color: #efbb78;
  background-image: url(./images/backgroundBasketballCourt.jpeg);
  background-position: center;
  color: white;
  font-size: 1.2rem;
  min-height: 6rem;
  padding: 0.5rem;
}

.scoreboard-area__score-history {
  display: flex;
  gap: 3rem;
}

.scoreboard-area__score-history .undo {
  background-image: url(./images/undo.jpeg);
  width: 3rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.scoreboard-area__score-history .redo {
  background-image: url(./images/redo.jpeg);
  width: 3rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.scoreboard-area__score-team-scores {
  display: flex;
  gap: 3rem;
  color: #584333;
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.scoreboard-area__score-team-scores>div {
  color: #0e0d0c;
  flex: 1;
  display: flex;
  gap: 0.5rem;
}

.scoreboard-area__score-selected-player {
  color: black;
  font-weight: bold;
}

.scoreboard-area__score-stats-categories {
  display: flex;
  gap: 0.5rem;
}

.scoreboard-area__score-stats-categories .stats-category {
  text-align: center;
}

.scoreboard-area__score-stats-categories>.stats-category>div:first-child {
  color: black;
  margin-bottom: 0.25rem;
}



/* SECOND SECTION */

.scoreboard .scoreboard-area__stats-options {
  display: flex;
  flex: 1;
  padding: 0 1rem;
  gap: 2rem;
}

.scoreboard .scoreboard-area__stats-options .left-side {
  display: flex;
  flex: 3 1;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}

.scoreboard .scoreboard-area__stats-options .button_made {
  flex-basis: 25%;
  background: #22ac93;
  color: white;
  display: flex;
  justify-content: center;
}

.scoreboard .scoreboard-area__stats-options .right-side {
  flex: 1 1;
  display: flex;
  row-gap: 1rem;
  justify-content: center;
  flex-flow: column;
}

.scoreboard .scoreboard-area__stats-options .right-side .right-side__stats {
  color: white;
  background: #e2183b;
}

/* THIRD SECTION */

.scoreboard .scoreboard-area__teams {
  display: flex;
  padding: 0 0.5rem;
  gap: 2rem;
  overflow: scroll;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list {
  flex: 1 1;
  flex-flow: column;
  display: flex;
  font-size: 1.25rem;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list>div:last-child {
  margin-bottom: 2rem;
}

.scoreboard-area__teams--team-list.team-list-away {
  position: relative;
}

.scoreboard-area__teams--team-list.team-list-away::before {
  content: "";
  height: 100%;
  border: 1px solid black;
  position: absolute;
  left: -1rem;
  display: none;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player {
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  align-items: center;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player.player-selected {
  background: #e3aa69;
  color: white;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player.player-selected:nth-child(odd) .scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player:nth-child(odd) {
  background: #21ad9338;
}

.scoreboard .scoreboard-area__teams .scoreboard-area__teams--team-list .player .player_name {
  flex: 3 1;
  display: flex;
  justify-content: center;
}

.page {
  padding: 1rem;
}

.page--home {
  background: url(./images/basketballDunk.jpeg) left/cover no-repeat;
  min-height: calc(100vh - 3rem);
  color: #e6e1e2;
  position: relative;
}

.page--home .games {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 1rem;
  background: #0e0d0c;
  opacity: 0.9;
}

.page--home .button--create-game {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  background: #e6e1e2;
  color: #0e0d0c;
  font-size: 1rem;
}

.page--login {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: url(./images/basketballNet.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page--login p {
  margin-bottom: 2rem;
}

.page--login form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  background: #e6e1e2;
  padding: 3rem;
  opacity: 0.9;
}

.page--new-game {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.page--new-game form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.nav--top {
  background: #0e0d0c;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  box-sizing: content-box;
  height: 3rem;
  padding: 0 1rem;
}

.nav--top a {
  color: #e6e1e2;
  text-decoration: none;
}

.nav--top__right {
  display: flex;
  gap: 1rem;
}

.noMatch {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  align-items: center;
  font-size: 2rem;
  padding-top: 3rem;
}

.noMatch img {
  width: 100%;
  max-width: 950px;
}

/* Modal overlay */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Modal content */
.modal {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: relative;
  z-index: 1001;
}

/* Close button for the modal */
.modal .close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}